.headline {
  text-align: center;
  color:white;
}

img {
  padding: 10px;
  mix-blend-mode: multiply; /*transparent backround */
  float: left; /* prevent linebreak after img */
  position: relative;
  z-index: 10;
}

img:hover {
  opacity: 0.5;
}
