.headline {
  text-align: center;
  font-family: Stencil Std, fantasy;
  /* https://stackoverflow.com/questions/2570972/css-font-border */
  -webkit-text-stroke: 2px var(--dark-gray); /* width and color */
  color:white;
}

img {
  padding: 10px;
  mix-blend-mode: multiply; /*transparent backround */
  float: left; /* prevent linebreak after img */
  position: relative;
  z-index: 10;
}

img:hover {
  opacity: 0.5;
}
