body{
    /* Enables flex Container for complete body */
    display: flex;
    /* Enables multiline mode for the flexbox */
    flex-wrap: wrap;
    overflow-y: hidden;
    margin: 8;  /* 8 is also default */
}

h1, p{
    font-family: "Segoe UI",Arial,sans-serif;
}

.fancyscrollbar::-webkit-scrollbar-track{
  -webkit-box-shadow: inset 0 0 6px #ff6501;
  background-color: #ff6501;
}

.fancyscrollbar::-webkit-scrollbar{
  width: 10px;
  background-color: #ff6501;
}

.fancyscrollbar::-webkit-scrollbar-thumb{
  background-color: lightgray;
  border: 2px solid #555555;
  border-radius: 20px;
}

.flex-container-row {
    display: flex;
    flex-wrap: nowrap;
    background-color: DodgerBlue;
    width: 100%;
}

nav{
    width: 100%;
}
nav.header{
    background-color: #ff6501;
    /* height:auto;    fit content */
    height: 8vh; 
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
nav.footer{
    background-color: #ff6501;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    height: 4vh;
}
aside{
    min-width: 15%;
    width: fit-content;
    max-width: 30%;
    background-color: #5f5f5f;
}


article{
    width: 100%;
    background-color: white;
    overflow-y: auto;
    height: calc(100vh -  4vh - 8vh - (2 * 8px) ); /* footer- header- 2* body magine*/
}




/* smartphone */
@media screen and (max-width: 600px) {
    body{
        overflow-y: unset;
    }

    .flex-container-row{
        display: flex;
        flex-wrap: wrap;
        background-color: DodgerBlue;
    }
    nav.header{
        min-height: 10vh;
        height: auto;
    }

    aside {
        max-width: none;
        width: 100%;
        min-height: 20vh;
    }
    article {
        width: 100%;
        height: auto;
        min-height: calc(100vh -  20vh - (2 * 10vh) - (2 * 8px) );
        overflow-y: unset;
        
    }

}