/* body as grid container */
body {
    margin: 0;  /* because if margin is set to default (8px), its anoying to use % scaling  */
    display: flex;
    flex-wrap: wrap;
}

nav.header{
    background-color: rgb(192,79,79);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 100%;
    height: 6em;
}
aside{
    background-color: rgb(194,130,129);
    width: 15em;
    height: calc(100vh - 6em - 3em);
}

article{
    background-color: rgb(106,158,189);
    width: calc(100% - 30em);
    height: calc(100vh - 6em - 3em);
    overflow-y:auto;
}
nav.footer{
    background-color: black;
    height: 3em;
    width: 100%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}



/* tablet */
@media screen and (max-width: 900px) {
    /* set min-hight to such a high value only for testing (because it wrapps no content) */
    nav.header {
        height: 8em;
    }
    article {
        width: calc(100% - 15em);
        height: calc(100vh - 8em - 3em - 8em);
    }
    aside{
        
    }
    aside.left{
        width: 15em;
        height: calc(100vh - 8em - 3em - 8em);
    }
    aside.right{
        width: 100%;
        min-height: 15vh;
        background-color: rgb(192,79,79);
        height: 8em;
    }
}
/* smartphone */
@media screen and (max-width: 500px) {
    nav.header {
        width: 100%;
        height: auto;
        min-height: 10em;
    }
    aside.left{
        width: 100%;
        height: auto;
        min-height: 10em;
    }
    article {
        width: 100%;
        height: auto;
        min-height: 40em;
        overflow-y: unset;
    }
    aside.right{
        width: 100%;
        height: auto;
        min-height: 10em;
    }
    nav.footer {
        height: auto;
        min-width: 3em;
    }

}