/* Main Container */
.container {
    margin: 8px;
}

h2{
    margin-top: 30px;
    margin-bottom: 10px;
}

h1{
    text-align: center;
}


.text-font {
    margin: 8px;
    margin-top: 12px;
    margin-bottom: 12px;
    font-family: "Arial", "Sans-serif";
}

.reference {
    margin-top: 1px;
    font-family: "Arial", "Sans-serif";
    text-align: center;
    font-size: small;
    font-style: italic;
}

.in-text-button {
    border-radius: 6px;
    color: white;
    font-weight: bold;
    background-color: #ff6501;
}

.info-box {
    margin: auto;
    margin-top: 16px;
    margin-bottom: 16px;
    border-style: solid;
    border-color: blue;
    background-color: lightblue;
    border-radius: 6px;
    width: fit-content;
}

.table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    max-width: fit-content;
}

.table td, 
.table th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
.table tr:nth-child(even) {
    background-color: #dddddd;
}

.illustration{
    max-width: 85%;
    height: auto;
    /* center */
    display: block;
    margin: 0 auto;
}