/* Main Container */
.container {
    margin: 8px;
}


.text-font {
    margin: 8px;
    font-family: "Arial", "Sans-serif";
}

.reference {
    margin-top: 1px;
    font-family: "Arial", "Sans-serif";
    text-align: center;
    font-size: small;
    font-style: italic;
}

.in-text-button {
    border-radius: 6px;
    color: white;
    font-weight: bold;
    background-color: #ff6501;
}

.info-box {
    border-style: solid;
    border-color: lightblue;
    border-radius: 6px;
    width: fit-content;
}

.table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
}

.table td, 
.table th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
.table tr:nth-child(even) {
    background-color: #dddddd;
}

