/* Main Container */
.container {
    margin: 8px;
}


.text-font {
    margin: 8px;
    font-family: "Arial", "Sans-serif";
}

.in-text-button {
    border-radius: 6px;
    color: white;
    font-weight: bold;
    background-color: #ff6501;
}

.info-box {
    border-style: solid;
    border-color: lightblue;
    border-radius: 6px;
    width: fit-content;
}
