.main-div{
    width: fit-content;
    /* right and left padding */
    max-width: calc(85% - 20px - 20px); 
    padding: 20px;
    padding-bottom: 30px;
    border-radius: 5px;
    border-color: black;
    border-style: solid;
    border-width: 2px;
    /* align horizontal center */
    margin: auto;
    margin-top: 35px;
    resize: both;
    overflow: auto;
    overflow: hidden;
}

/* Source: user post from  https://davidwalsh.name/style-textarea-resizer */
.main-div::-webkit-resizer{ 
    border : 9px solid rgba(0,0,0,.1);
    border-bottom-color: rgba(0,0,0,.5);
    border-right-color: rgba(0,0,0,.5);
    outline: 1px solid rgba(0,0,0,.3);
    box-shadow: 0 0 5px 3px rgba(0,0,0,.1);
}
