.main-div{
    /* width: fit-content;
    height: fit-content; */
    width: auto;
    height: auto;
    max-width: calc(85% - 20px - 20px); 
    min-height: 50px;
    min-width: 50px;
    position: relative;
    /* right and left padding */
    padding: 20px;
    border-radius: 5px;
    border-color: black;
    border-style: solid;
    box-shadow: 10px 10px 5px grey;
    border-width: 2px;
    /* align horizontal center */
    margin: auto;
    margin-top: 35px;
    resize: both;
    overflow: hidden;
}

/* Source: user post from  https://davidwalsh.name/style-textarea-resizer */
.main-div::-webkit-resizer{ 
    border : 9px solid rgba(0,0,0,.1);
    border-bottom-color: rgba(0,0,0,.5);
    border-right-color: rgba(0,0,0,.5);
    outline: 1px solid rgba(0,0,0,.3);
    box-shadow: 0 0 5px 3px rgba(0,0,0,.1);
}


iframe{
    width: 100%;
    height: 100%;
    margin: auto;
    display: block;
}
