.main-div{
    background-color: lightgray;
    max-width: 85%;
    width: fit-content;
    border-radius: 5px;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    /* align horizontal center */
    margin: auto;
    overflow-y: hidden;
    overflow-x: auto;
    margin-top: 10px;
}


xmp{
    /* w3school code font, https://www.w3schools.com/ */
    font-family: Consolas,"courier new";
    font-size: small;
    margin: 0;
    display: inline;
}

.code-div div{
    /* https://stackoverflow.com/questions/718891/how-to-make-a-div-not-wrap */
    /* prevent from wrapping child elements */
    white-space: nowrap;

    border-bottom: 1px solid;
    border-color: #c9c2c2;

    margin: 1px;
    margin-right: 8px;
}

.code-div span::before {
    /* https://stackoverflow.com/questions/43203673/make-text-not-copyable-html */
    content: attr(data-unselectable);
}

.code-div span{
    color: #9e9a9a;
}

.title{
    color: black;
    border-style: solid;
    border-width: 2px;
    border-top-width: 0;
    border-left-width: 0;
    border-bottom-right-radius: 5px;
    width: fit-content;
    padding: 8px;
    margin: 0;
    font-size: larger;
    font-weight: bold;
}

.main-div::-webkit-scrollbar-track{
    -webkit-box-shadow: inset 0 0 3px var(--orange);
    background-color: var(--orange);
}

.main-div::-webkit-scrollbar{
    height: 12px;
    background-color: var(--orange);
}

.main-div::-webkit-scrollbar-thumb{
    background-color: lightgray;
    border: 2px solid #555555;
    border-radius: 20px;
}

